@import 'tailwindcss';

@theme {
  --font-sans: neue-haas-grotesk-display, sans-serif;
  --font-styled: 'p22-canterbury-pro', sans-serif;
}

body {
  background: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
